doctype html 
html 
  head 
    title= title 
  body 
    h1= title 
    ul.stores-list
      each val in stores 
        li: .stores-item
          h3=val.name
          p: a(href=`/stores/${val.id}/`) View inventory 
    p: a(href="/stores/new/") Add new store 
    p: a(href="/") Back to home  